<h3 data-i18n="Select a Export Type">Select a Export Type</h3>
<span data-i18n="Select the export type you want to use when editing and exporting your character.">Select the export type you want to use when editing and exporting your character.</span>

<div class="sources_list justifyLeft">
    <h4 data-i18n="Prom V3">Prom V3</h4>
    <div class="alignItemsCenter">
        <span data-i18n="Supported By: SillyTavern, PygmalionAI">Supported By: SillyTavern, PygmalionAI</span>
    </div>
    <span data-i18n="A new, heavily revamped character card format that allows for more customization and control over your character.">A heavily revamped character card format that allows for more customization with less bloat and slightly reduced file size.</span></li>
    <h5 data-i18n="Prom V3 Features:">Prom V3 Features:</h5>
    <ul class="marginTop5 li-padding-bot5">
        <li><span data-i18n="Define specific greetings as as solo or group chat.">Define specific greetings as as solo or group chat.</span></li>
        <li><span data-i18n="Better example message support with role assignment. Assign specific example messages for the user, character or system for the AI to refer to.">Better example message support with role assignment. Assign specific example messages for the user, character or system for the AI to refer to.</span></li>
        <li><span data-i18n="Easier to read and edit.">Easier to read and edit.</span></li>
    </ul>
</div>

<div class="sources_list justifyLeft">
    <h4 data-i18n="V2 + V3">V2 + V3</h4>
    <div class="alignItemsCenter">
        <span data-i18n="Supported By: RisuAI, Chub, etc.">Supported By: RisuAI, Chub, etc.</span>
    </div>
    <span data-i18n="A character card format compatible with many V1, V2 and V3 frontends (except PromV3).">A character card format compatible with many V1, V2 and V3 frontends (except PromV3).</span></li>
</div>