<h3 data-i18n="Select a Export Type">Select a Export Type</h3>
<span data-i18n="Select the export type you want to use when editing and exporting your character.">Select the export type you want to use when editing and exporting your character.</span>

<div class="sources_list justifyLeft">
    <h4 data-i18n="Prom V3">Prom V3</h4>
    <span data-i18n="A new, heavily revamped character card format supported by SillyTavern and PygmalionAI.">A new, heavily revamped character card format supported by SillyTavern and PygmalionAI.</span>
    <h5 data-i18n="Prom V3 Features:">Prom V3 Features:</h5>
</div>

<div class="sources_list justifyLeft">
    <h4 data-i18n="V2 + V3">V2 + V3</h4>
    <span data-i18n="A character card format compatible with many V1, V2 and V3 frontends like RisuAI (except PromV3 frontends).">A character card format compatible with many V1, V2 and V3 frontends like RisuAI (except PromV3 frontends).</span></li>
</div>